/*overall layout using the body tag, changes colour and alignment*/
body
{
    background: rgb(50, 255, 187);
    text-align: center;
    padding: 0px 0px 0px 0px;
    
}

head

/*changes header font*/
h1, h2, h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 50px;
}

/*used for text and size on lists*/
li, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    padding: 10px 50px;
    text-align: center;
    border-color: white;
    display: inline-flex;
    margin: 0px -3px;
}
/* used for anchor tags*/
a {
    font-family: fantasy;
    text-decoration: none;
}
/*used for normal text*/
p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
text-align: center;
}

.typography{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px ;
text-align: center;
}

h3 {
    font-size: 25px;
}

ul
{
    list-style-type: circle;
}

li
{
font-size: 30px;
}
.bigger
{
   font-size: x-large;
}

.back_btn
{
    text-align: center;
    list-style-type: none;
}

h1 {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}
/*used for general "P" tag texts*/
p {
display: flex;
justify-content: center;
}
/*used to change the header*/
header {
display: flex;
justify-content: center;
align-items: center;
padding: 30px 10%;
}
/*all used for the nav bar*/
.nav__links li {
  display: inline-flex;
  padding: 0px 0px;  
}

.nav__links li {
    transition: all 0.5s ease 0s;
}

.nav__links li :hover {
    color: rgb(255, 0, 0);
}

.nav__links {
background-color:aquamarine;
}