/*overall layout using the body tag, changes colour and alignment*/
body
{
    background: rgb(50, 255, 187);
    text-align: center;
}
/*changes header font*/
h1, h2, h3{
    font-family: fantasy;
}

h2 {
    font-size: 50px;
}

/*used for text and size on lists*/
li, button {
    font-family: sans-serif;
    font-size: 50px;
}
/* used for anchor tags*/
a {
    font-family: fantasy;
}
/*used for normal text*/
p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
size: 600px;
}
h3 {
    font-size: 25px;
}

ul
{
    list-style-type: circle;
}

li
{
font-size: 30px;
}
.bigger
{
   font-size: x-large;
}

.back_btn
{
    text-align: center;
    list-style-type: none;
}

#flower
{
    height: 20em;
}

h1 {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}
/*used for general "P" tag texts*/
p {
display: flex;
justify-content: center;
}
/*used to change the header*/
header {
display: flex;
justify-content: center;
align-items: center;
padding: 30px 10%;
}
/*all used for the nav bar*/
.nav__links li {
  display: inline-block;
  padding: 0px 75px;  
}

.nav__links li {
    transition: all 0.5s ease 0s;
}

.nav__links li :hover {
    color: rgb(255, 0, 0);
}

.nav__links {
background-color:aquamarine;
}